button {
    color:red;
    background-color:transparent;
    border: 1px solid red;
    padding: 10px 20px 10px 20px;
    transition-property: background-color, color, border-color;
    transition-duration: .3s;
    transition-timing-function = ease;
}
button:hover{
    background-color: grey;
    color: blue;
}
button:active{
    background-color : red;
    border-color: grey;
}


.title  {
    color:blue;
    background-color:red;
}
ul {
list-style: nome;

}
.job {
height: 200px;
width: 200px;
background-color: orange;
margin: 50px 0 0 50px;
animation-name: ded;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
}
@keyframes ded {
      0% {
        background-color: orange;
      }
      100% {
        background-color: green;
        transform: rotate(360deg);
      }
    }
.header {
display: flex;

}